<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766408166941-4f3bsf6mrsmkd2fvup446pnvrbv3veuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766408166941-4f3bsf6mrsmkd2fvup446pnvrbv3veuk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>766408166941-9bhne7q0uin9abv8qkgi41og18gr6cft.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4raxIP5bq2FT4fSgx07pUVvbhk8UZ1Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>766408166941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.jasonwolverson</string>
	<key>PROJECT_ID</key>
	<string>jason-wolverson</string>
	<key>STORAGE_BUCKET</key>
	<string>jason-wolverson.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:766408166941:ios:b4a0b0ca54e326e7e740f4</string>
	<key>DATABASE_URL</key>
	<string>https://jason-wolverson.firebaseio.com</string>
	<key>CFBundleIdentifier</key>
	<string>cd ios</string>
</dict>
</plist>
